.demo-wrapper {
    width: 100%;
    height: 100%;
}

.demo-rewind-button {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100px;
    height: 100px;
    background-color: #007dc3;
}
