$ticker-feed-background: #333;
$ticker-feed-point-border: #333;
$ticker-feed-point-background: #333;
$ticker-feed-point-highlight-border: #4A90E2;
$ticker-feed-point-highlight-background: #333;
$ticker-feed-point-selected-border: #4A90E2;
$ticker-feed-point-selected-background: #4A90E2;
$ticker-feed-point-font:rgba(255,255,255,.8);
$ticker-feed-point-selected-font:rgba(255,255,255,1);
